.home-main-container {
  width: 100%;
  position: relative;
}

::ng-deep .section-title {
  margin: 0 0 20px 0;
  font-size: 28px;
  font-weight: 700;
  color: #484848;
  margin-left: 20px;
  text-align: left;
}
