<!-- <div>Show errors: {{ showErrors }}</div> -->
<!-- <div style="font-size: 10px;">CurrentStep: {{ currentStepIndex }}</div> -->
<!-- <div style="font-size: 10px;">
  CurrentActivitiesStep: {{ currentActivitiesStepIndex }}
</div> -->
<!-- <div style="font-size: 10px;">
  stepsNumber.tripActivities: {{ stepsNumber.tripActivities }}
</div> -->
<!-- <div style="font-size: 10px;">
  activitiesWithoutEmpty: {{ activitiesWithoutEmpty }}
</div> -->
<!-- <div style="font-size: 10px;">activities: {{ formValue.activities }}</div> -->
<!-- <div style="font-size: 10px;">Validation: {{ errors | json }}</div> -->

<div class="step-number" *ngIf="currentStepIndex < stepsNumber.tripActivities">
  STEP {{ currentStepIndex + 1 }}
</div>
<div
  class="step-number"
  *ngIf="currentStepIndex === stepsNumber.tripActivities"
>
  STEP {{ currentStepIndex + 1 + currentActivitiesStepIndex + 1 }}
</div>
<div class="step-number" *ngIf="currentStepIndex > stepsNumber.tripActivities">
  STEP
  {{ currentStepIndex + 1 + activitiesWithoutEmpty.length }}
</div>

<app-date-planned
  *ngIf="currentStepIndex === stepsNumber.datePlanned"
  [value]="formValue.isDatePlanned"
  (clickedDatePlanned)="onUpdateStepValues($event); onClickNext()"
></app-date-planned>

<app-dates-trip
  *ngIf="currentStepIndex === stepsNumber.datesTrip && formValue.isDatePlanned"
  [departureDate]="formValue.departureDate"
  [arrivalDate]="formValue.arrivalDate"
  [airport]="formValue.airport"
  (dateConfirmed)="onUpdateStepValues($event)"
></app-dates-trip>

<app-estimate-date
  *ngIf="
    currentStepIndex === stepsNumber.estimateDate && !formValue.isDatePlanned
  "
  [estimateMonth]="formValue.estimateMonth"
  [estimateDays]="formValue.estimateDays"
  (estimateDateChanged)="onUpdateStepValues($event)"
></app-estimate-date>

<app-trip-destination
  *ngIf="currentStepIndex === stepsNumber.tripDestination"
  (destinationPicked)="onUpdateStepValues($event)"
  [selectedDestinations]="formValue.destinations"
></app-trip-destination>

<app-who-travel
  *ngIf="currentStepIndex === stepsNumber.whoTravel"
  [numberPeople]="formValue.numberPeople"
  (pickedNumberPeople)="onUpdateStepValues($event)"
></app-who-travel>

<app-purpose-trip
  *ngIf="currentStepIndex === stepsNumber.purposeTrip"
  [selectedPurposes]="formValue.purposes"
  [selectedBeenInPast]="formValue.beenInPast"
  (purposePicked)="onUpdateStepValues($event)"
  (beenInPastPicked)="onUpdateStepValues($event)"
></app-purpose-trip>

<app-trip-activities
  *ngIf="
    currentStepIndex === stepsNumber.tripActivities &&
    currentActivitiesStepIndex === -1
  "
  [selectedActivities]="formValue.activities"
  (pickedActivityType)="onUpdateStepValues($event)"
></app-trip-activities>

<app-museums
  *ngIf="
    currentStepIndex === stepsNumber.tripActivities &&
    formValue.activities[currentActivitiesStepIndex] === 'museums'
  "
  [selectedMuseums]="formValue.museums"
  (pickedMuseum)="onUpdateStepValues($event)"
>
</app-museums>

<app-nightlife
  *ngIf="
    currentStepIndex === stepsNumber.tripActivities &&
    formValue.activities[currentActivitiesStepIndex] === 'nightlife'
  "
  [selectedNight]="formValue.night"
  (nightPicked)="onUpdateStepValues($event)"
>
</app-nightlife>

<app-food-trip
  *ngIf="currentStepIndex === stepsNumber.food"
  [selectedFood]="formValue.food"
  (pickedFood)="onUpdateStepValues($event)"
>
</app-food-trip>

<app-dining-trip
  *ngIf="currentStepIndex === stepsNumber.dining"
  [selectedDining]="formValue.dining"
  [selectedEatHands]="formValue.eatHands"
  (pickedDining)="onUpdateStepValues($event)"
  (pickedEatHands)="onUpdateStepValues($event)"
>
</app-dining-trip>

<app-diving
  *ngIf="
    currentStepIndex === stepsNumber.tripActivities &&
    formValue.activities[currentActivitiesStepIndex] === 'diving'
  "
></app-diving>

<app-local-traditions
  *ngIf="
    currentStepIndex === stepsNumber.tripActivities &&
    formValue.activities[currentActivitiesStepIndex] === 'culture'
  "
  [selectedCulture]="formValue.culture"
  (clturePicked)="onUpdateStepValues($event)"
></app-local-traditions>

<app-natural-wonders
  *ngIf="
    currentStepIndex === stepsNumber.tripActivities &&
    formValue.activities[currentActivitiesStepIndex] === 'natural'
  "
  [selectedNatural]="formValue.natural"
  (naturalPicked)="onUpdateStepValues($event)"
></app-natural-wonders>

<app-volcano
  *ngIf="
    currentStepIndex === stepsNumber.tripActivities &&
    formValue.activities[currentActivitiesStepIndex] === 'volcanoes'
  "
  [selectedVolcano]="formValue.volcano"
  (pickedVolcano)="onUpdateStepValues($event)"
></app-volcano>

<app-hiking-trip
  *ngIf="
    currentStepIndex === stepsNumber.tripActivities &&
    formValue.activities[currentActivitiesStepIndex] === 'trekking'
  "
></app-hiking-trip>

<app-sports
  *ngIf="
    currentStepIndex === stepsNumber.tripActivities &&
    formValue.activities[currentActivitiesStepIndex] === 'sports'
  "
  [selectedSports]="formValue.sports"
  (pickedSport)="onUpdateStepValues($event)"
></app-sports>

<app-spa
  *ngIf="
    currentStepIndex === stepsNumber.tripActivities &&
    formValue.activities[currentActivitiesStepIndex] === 'spa'
  "
  [selectedSpa]="formValue.spa"
  (pickedSpa)="onUpdateStepValues($event)"
></app-spa>

<app-surfing
  *ngIf="
    currentStepIndex === stepsNumber.tripActivities &&
    formValue.activities[currentActivitiesStepIndex] === 'surfing'
  "
></app-surfing>

<app-history
  *ngIf="
    currentStepIndex === stepsNumber.tripActivities &&
    formValue.activities[currentActivitiesStepIndex] === 'history'
  "
  [selectedHistory]="formValue.history"
  (historyPicked)="onUpdateStepValues($event)"
></app-history>

<app-hotel-type
  *ngIf="currentStepIndex === stepsNumber.hotelType"
  [selectedHotel]="formValue.hotelType"
  (hotelPicked)="onUpdateStepValues($event)"
></app-hotel-type>

<app-last-question
  *ngIf="currentStepIndex === stepsNumber.lastQuestion"
></app-last-question>

<app-stripe-payment
  *ngIf="currentStepIndex === stepsNumber.payment"
></app-stripe-payment>

<div class="errors">
  <div *ngIf="showErrors" class="alert">
    <div *ngFor="let error of errors" class="error">
      {{ error.message }}
    </div>
  </div>
</div>

<div class="step-buttons">
  <div *ngIf="currentStepIndex > 0">
    <button class="next-btn" (click)="onClickPrevious()">
      Previous
    </button>
  </div>
  <div *ngIf="!(currentStepIndex > 9) && currentStepIndex !== 0">
    <button class="next-btn" (click)="onClickNext()">
      Next
    </button>
  </div>
</div>

<!-- <div class="step-two" >
    <h2>Please enter your information</h2>

    <form [formGroup]="requestForm">
      <input
        type="text"
        matInput
        placeholder="First Name"
        formControlName="firstName"
        required
      />
      <button (click)="submitRequest()">Submit request</button>
    </form>
  </div> -->
