@import 'variables';

:host  {
  display: block;
  height: 100%;
  width: 100%;
  flex: 1;
  margin: 0 auto;
  align-self: center;
  padding: 90px 0;

  ::ng-deep h2 {
    text-align: center;
    font-size: 34px;
    font-family: ArbutusSlab, sans-serif;
    margin-bottom: 40px;
  }

  p {
    margin-bottom: 20px;
  }

  button.next-btn {
    background-color: $primary-dark;
    color: white;
    padding: 1.1rem 1.8rem;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 600;

    &:hover {
      background-color: #69694d;
    }
  }

  .hidden {
    display: none;
  }

  ul {
    max-width: 350px;
    margin: 0 auto;

    li.date-planned {
      background-color: #fff;
      color: #1e2a40;
      position: relative;
      height: 60px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
      display: flex;
      justify-content: center;
      align-items: center;
      //   padding: 19px 5px;
      margin-bottom: 20px;
      cursor: pointer;

      &.selected {
        background-color: #ff6361 !important;
        color: #ffffff;
      }

      &:hover {
        background-color: #ff6361;
        color: #fff;
        opacity: 0.8;
      }
    }
  }

  .step-buttons {
    margin: 40px auto 10px auto;
    display: flex;
    justify-content: space-between;
    width: 600px;
    // padding: 0 20px;
  }

  .errors {
    display: flex;
    justify-content: center;

    .error {
      font-size: 0.85em;
    }
  }

  ::ng-deep .shadow-input {
    padding: 6px 12px 6px 18px;
    height: 60px;
    color: $primary-dark;
    font-family: Avenir-Book, sans-serif;
    font-size: 16px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100%;
  }

  .step-number {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
  }

  ::ng-deep .step-hint {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    line-height: 27px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
