<div class="request-container">
  <!-- <app-stripe-payment></app-stripe-payment> -->
  <div>CurrentStep: {{ currentStepIndex }}</div>
  <div>CurrentStep: {{ stepsValues | json }}</div>

  <app-date-planned
    [value]="stepsValues.isDatePlanned"
    *ngIf="currentStepIndex === 0"
    (clickedDatePlanned)="onUpdateStepValues($event)"
  ></app-date-planned>

  <div class="step-two" [class.hidden]="currentStepIndex !== 1 || !datePlanned">
    <h2>When will you be staying in Indonesia?</h2>

    <form [formGroup]="requestForm">
      <input type="text" id="start-date" />
      <input type="text" id="end-date" />
    </form>

    <div><button class="ut-btn" (click)="onClickNext()">Confirm</button></div>
  </div>

  <div class="step-three" *ngIf="currentStepIndex === 1 && !datePlanned">
    <h2>
      Can you give us a rough estimation of your travel plans?
    </h2>
    <div class="form-field">
      <label for="">When would you go?</label>
      <select name="" id="">
        <option
          value=""
          *ngFor="let month of ['january', 'february', 'march', 'april']"
          >{{ month }}</option
        >
      </select>
    </div>
    <div class="form-field">
      <label for="">For how long?</label>
      <input type="number" />
    </div>
    <div><button class="ut-btn" (click)="onClickNext()">Confirm</button></div>
  </div>

  <div class="step-four" *ngIf="currentStepIndex === 2">
    <h2>
      Where are you going?
    </h2>
    <div>Select your dream regions</div>
    <div class="destination-options">
      <button class="ut-btn" (click)="onClickNext()">I don't know yet</button>
      <div class="destination-card">Sumatra</div>
      <div class="destination-card">Jakarta</div>
      <div class="destination-card">Bali</div>
    </div>
    <div>
      Do you have precise areas or places of interest in mind? Share them with
      us.
    </div>
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <div><button class="ut-btn" (click)="onClickNext()">Confirm</button></div>
  </div>

  <app-who-travel
    *ngIf="currentStepIndex === 3"
    [showConfirm]="true"
  ></app-who-travel>

  <app-purpose-trip *ngIf="currentStepIndex === 4"></app-purpose-trip>

  <app-hotel-type *ngIf="currentStepIndex === 5"></app-hotel-type>

  <!-- <div class="step-two" >
    <h2>Please enter your information</h2>

    <form [formGroup]="requestForm">
      <input
        type="text"
        matInput
        placeholder="First Name"
        formControlName="firstName"
        required
      />
      <button (click)="submitRequest()">Submit request</button>
    </form>
  </div> -->

  <div class="step-buttons">
    <div>
      <button class="next-btn" (click)="onClickPrevious()">
        Previous
      </button>
    </div>
    <div>
      <button class="next-btn" (click)="onClickNext()">
        Next
      </button>
    </div>
  </div>
</div>
