@import url('https://fonts.googleapis.com/css?family=Merriweather:900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

button {
  background: none;
  cursor: pointer;
  outline: none;
  border: none;
}

.ut-btn {
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 3px;
  margin: 15px 0;
}

.ut-text-input {
  border: 1px solid black;
  background: none;
  padding: 5px;
  margin: 10px 0;
  display: block;
}
