<div>
  <h2>Would you rather hike the volcano or be driven there?</h2>
  <div class="selector-container">
    <app-select-option
      (selectPicked)="onVolcanoChange($event)"
      [selectedValue]="selectedVolcano"
      [options]="volcanoOptions"
      [placeholder]="'Pick an answer'"
    ></app-select-option>
  </div>
</div>

<div class="step-hint">
  Do you have any particular requests or destinations in mind?
</div>

<textarea
  (keydown)="updateVolcanoPlaces($event)"
  [ngModel]="typedVolcanoPlaces"
  name=""
  id=""
  rows="4"
></textarea>

<div class="step-description">
  Since categorizing volcanoes can be tricky, we will keep this topic for your
  phone meetings with our travel consultant. He will come up with different
  suggestions depending on your destination, your other interests and the latest
  activity updates. However, we will be happy to satisfy your demands or to
  include a specific sight in your itinerary.
</div>
