@import 'utilities/_variables';

:host {
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;

  &.active {
    border: 3px solid $primary-light;
  }

  ::ng-deep .package-name {
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 11px;
  }

  ::ng-deep .action-btn {
    max-width: 198px;
    width: 100%;
  }
}
