<h2>
  What dining environments do you enjoy?
</h2>

<div class="step-hint">
  Select at least 2 categories
</div>

<div class="dining-options">
  <app-multiple-choice
    (optionPicked)="onPickDining($event)"
    [selectedOptions]="selectedDining"
  >
    <app-choice-card
      *ngFor="let diningOption of diningOptions"
      [isActive]="selectedDining.includes(diningOption.value)"
      [choiceData]="diningOption"
      >{{ diningOption.label }}</app-choice-card
    >
  </app-multiple-choice>
</div>
