<h2>
  What dining environments do you enjoy?
</h2>

<div class="step-hint">
  Select at least 2 categories
</div>

<div class="dining-options">
  <app-multiple-choice
    (optionPicked)="onPickDining($event)"
    [selectedOptions]="selectedDining"
  >
    <app-choice-card
      *ngFor="let diningOption of diningOptions"
      [isActive]="selectedDining.includes(diningOption.value)"
      [choiceData]="diningOption"
      >{{ diningOption.label }}</app-choice-card
    >
  </app-multiple-choice>
</div>

<div class="step-hint">
  How do you feel about eating with your hands?
</div>

<div class="selector-container">
  <app-select-option
    (selectPicked)="onPickEatHands($event)"
    [selectedValue]="selectedEatHands"
    [options]="eatHandsOptions"
    [placeholder]="'Pick one answer'"
  ></app-select-option>
</div>
