<div class="step-two">
  <h2>When will you be staying in Indonesia?</h2>

  <!-- <div>departureDate: {{ departureDate }}</div>
  <div>arrivalDate: {{ arrivalDate }}</div> -->

  <!-- <form [formGroup]="requestForm"> -->
  <input
    type="text"
    id="start-date"
    [value]="departureDate"
    (keyup)="onDepartureDateChange($event.target.value)"
  />
  <input
    type="text"
    id="end-date"
    [value]="arrivalDate"
    (keyup)="onArrivaleDateChange($event.target.value)"
  />
  <!-- </form> -->

  <div class="error">
    {{ error }}
  </div>

  <div><button class="ut-btn" (click)="onClickConfirm()">Confirm</button></div>
</div>
