<div class="header-container">
  <div class="left-part">
    <a class="logo" [routerLink]="['/']">UT</a>
    <nav>
      <ul>
        <li><a [routerLink]="['/trips']">Trips</a></li>
        <li><a [routerLink]="['/trips']">Destinations</a></li>
        <li><a [routerLink]="['/trips']">Testimonials</a></li>
        <li><a [routerLink]="['/trips']">Activities</a></li>
        <li><a [routerLink]="['/trips']">Pricing</a></li>
      </ul>
    </nav>
  </div>

  <div class="buttons">
    <div class="auth-links">
      <a [routerLink]="['/login']">Login</a>
      <a [routerLink]="['/signup']">Sign up</a>
    </div>
    <div class="btn wishlist-btn">
      <a [routerLink]="['/wishlist']">Wishlist</a>
    </div>
    <div class="btn get-started-btn">
      <a [routerLink]="">Get Started</a>
    </div>
  </div>
</div>
