.step-four {
  max-width: 600px;
  margin: 0 auto;
}

.destination-options {
  margin-bottom: 40px;
}

textarea {
  width: 100%;
  min-height: 114px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  padding: 10px 12px;
  font-size: 16px;
}
