<div class="add-trip-container">
  <div class="container">
    <h3 mat-dialog-title>Add a new trip</h3>
    <div mat-dialog-content>
      <form [formGroup]="userForm" autocomplete="off">
        <input
          type="text"
          placeholder="Title"
          formControlName="title"
          required
        />
      </form>
    </div>

    <div>
      <button class="ut-btn" (click)="resetForm()">Reset Form</button>
      <button class="ut-btn">Cancel</button>
      <button
        class="ut-btn"
        type="submit"
        [disabled]="!userForm.valid"
        (click)="onSubmit()"
      >
        Save
      </button>
    </div>
  </div>
</div>
