<h2>
  Select your package
</h2>

<div class="packages-wrapper">
  <app-package class="shadow-box">
    <div class="package-name">Journy light</div>

    <button class="action-btn shadow-box">Continue</button>

    <ul class="features-container">
      <li *ngFor="let feature of features">
        {{ feature }}
      </li>
    </ul>
  </app-package>

  <app-package class="shadow-box active">
    <div class="package-name">Journy full</div>
    <button class="action-btn active shadow-box">Continue</button>
  </app-package>
</div>
