<!-- <div>{{ stepValidationObject | json }}</div> -->
<h2>
  Can you give us a rough estimation of your travel plans?
</h2>

<div class="step-three">
  <div class="form-field">
    <label for="">When would you go?</label>
    <div class="selector-container">
      <app-select-option
        (selectPicked)="onEstimateMonthChange($event)"
        [selectedValue]="estimateMonth"
        [options]="options"
        [placeholder]="'Select a month'"
      ></app-select-option>
    </div>
  </div>

  <div class="form-field">
    <label for="">For how long?</label>
    <input
      matInput
      type="number"
      class="number-input"
      placeholder="Number of days"
      [ngModel]="estimateDays"
      (keyup)="onEstimateDaysChange($event.target.value)"
    />
  </div>
</div>
