.form-field {
  margin-bottom: 20px;

  label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
  }

  .number-input {
    width: 200px;
  }
}

.step-three {
  max-width: 400px;
  margin: 0 auto;
}
