<h2>
  Tell us about your food and beverages tastes. What do you like?
</h2>

<div class="step-description">
  The culinary experience is one of the most important aspects of your trip. We
  believe that food and beverages can make or break your special stay. This is
  why we are committed to providing you with exceptional care when it comes to
  choosing the places where you will enjoy your meals and drinks.
</div>

<div class="step-hint">
  Select at least 3 categories
</div>

<div class="food-options">
  <app-multiple-choice
    (optionPicked)="onPickFood($event)"
    [selectedOptions]="selectedFood"
  >
    <app-choice-card
      *ngFor="let foodOption of foodOptions"
      [isActive]="selectedFood.includes(foodOption.value)"
      [choiceData]="foodOption"
      >{{ foodOption.label }}</app-choice-card
    >
  </app-multiple-choice>
</div>

<div class="step-hint">
  <p>
    Help us make your trip unforgettable and tell us how we can adapt our
    selection of nice places to your needs and tastes
  </p>
</div>
<textarea name="" id="" rows="4"></textarea>
