:host {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.popular-activites-container {
  padding: 40px 80px;
  // border-bottom: 1px solid grey;

  .title {
    margin: 0 0 40px 0;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    color: rgb(72, 72, 72);
    margin-left: 20px;
  }

  .activity-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    .activity {
      position: relative;
      margin: 0 20px;
      // border: 1px solid black;
      // background-color: lightgrey;
      display: flex;
      flex-direction: column;
      cursor: pointer;
      flex: 1;

      .overlay {
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        position: absolute;
        background-color: #e5e4e6;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
        display: block;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.25s linear;
        z-index: 4;
      }

      .image {
        height: 200px;
        // width: 330px;
        background-size: cover;
        position: relative;
        border-radius: 3px;

        &:hover {
          .overlay {
            opacity: 0.15;
          }
        }
      }

      .location {
        padding: 10px 0 5px 0;
        text-transform: uppercase;
        font-weight: 900;
        color: #007eff;
        font-size: 12px;
      }

      .description {
        font-size: 18px;
        color: rgb(72, 72, 72);
        font-weight: 700;
      }

      .price {
        margin-top: 5px;
        font-size: 14px;
        color: rgb(72, 72, 72);
        font-weight: 400;
      }
    }
  }
}
