:host {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.popular-activites-container {
  padding: 40px;
  border-bottom: 1px solid grey;

  .title {
    margin: 20px 0;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
  }

  .activity-list {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .activity {
      position: relative;
      margin: 0 20px;
      // border: 1px solid black;
      // background-color: lightgrey;
      display: flex;
      flex-direction: column;
      cursor: pointer;

      .overlay {
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        position: absolute;
        background-color: #e5e4e6;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
        display: block;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.25s linear;
        z-index: 4;
      }

      .image {
        height: 200px;
        width: 330px;
        background-size: cover;
        position: relative;

        &:hover {
          .overlay {
            opacity: 0.15;
          }
        }
      }

      .location {
        padding: 10px 0;
        text-transform: uppercase;
        font-weight: 700;
        color: #007eff;
      }
    }
  }
}
