<div class="popular-activites-container">
  <div class="title">Popular activities</div>
  <div class="activity-list">
    <div class="activity" *ngFor="let activity of activities">
      <div
        class="image"
        [ngStyle]="{
          backgroundImage: 'url(/assets/' + activity.imageUrl + ')'
        }"
      >
        <div class="overlay"></div>
      </div>
      <div class="location">
        {{ activity.location }}
      </div>
      <div class="description">
        {{ activity.description }}
      </div>
      <div class="price">
        {{ activity.price }}
      </div>
    </div>
  </div>
</div>
