:host {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.popular-activites-container {
  padding: 40px;
  border-bottom: 1px solid grey;

  .title {
    margin: 20px 0;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
  }

  .activity-list {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .activity {
      margin: 0 20px;
      // border: 1px solid black;
      // background-color: lightgrey;
      display: flex;
      flex-direction: column;
      cursor: pointer;

      .image {
        height: 200px;
        width: 330px;
        background-size: cover;
      }

      .location {
        padding: 10px 0;
        text-transform: uppercase;
        font-weight: 700;
        color: #007eff;
      }
    }
  }
}
