.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.25);
  height: 60px;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;

  a {
    color: #ffffff;
  }

  .left-part {
    display: flex;
    flex-direction: row;
    align-items: center;

    .logo {
      width: 40px;
      height: 40px;
      background-color: black;
      margin: 0 20px;
      cursor: pointer;
    }

    nav {
      // padding: 10px;
      ul {
        list-style: none;
        display: flex;
        flex-direction: row;

        li {
          margin: 0 10px;
          a {
            // color: #ffffff;
          }
        }
      }
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;

    .auth-links {
      a {
        margin: 0 10px;
        // color: #ffffff;
      }
    }

    .btn {
      margin: 0 10px;
    }
  }
}
