// $primary-dark: #494936;
// $primary-dark: #494936;
@import 'variables';

:host {
  width: 100%;
}

.choice-card-container {
  // border: 1px solid #9ea758;
  border-radius: 0;
  padding: 10px;
  height: 80px;
  cursor: pointer;
  color: #3a3b3d;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  &.active {
    background: #b4b98a;
    color: $primary-dark;
  }

  &:hover {
    // box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    opacity: 0.8;
  }
}
