.request-container {
  margin: 40px 0;
}

:host {
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img.logo {
  height: 80px;
}

header {
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: #f1ebe7;
}

.top-padding {
  padding-top: 60px;
}
