<div class="header-container">
  <div class="left-part">
    <div class="logo" [routerLink]="['/']"></div>
    <nav>
      <ul>
        <li><a [routerLink]="['/']">Home</a></li>
        <li><a [routerLink]="['/trips']">Trips</a></li>
        <li><a [routerLink]="['/trips']">Users</a></li>
        <li><a [routerLink]="['/bookings']">Bookings</a></li>
        <li><a [routerLink]="['/trips']">Purchases</a></li>
        <li><a [routerLink]="['/trips']">Analytics</a></li>
      </ul>
    </nav>
  </div>

  <div class="buttons">
    <div class="get-started">
      <a [routerLink]="">Login</a>
    </div>
  </div>
</div>
