:host {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.popular-activites-container {
  padding: 40px 100px;
  // border-bottom: 1px solid grey;

  .activity-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    .activity {
      position: relative;
      margin: 0 10px;
      display: flex;
      flex-direction: column;
      cursor: pointer;
      flex: 1;

      .overlay {
        background-image: linear-gradient(
          -180deg,
          rgba(0, 0, 0, 0) 3%,
          rgb(0, 0, 0) 100%
        );
        opacity: 0.6;
        position: absolute;
        height: 60%;
        width: 100%;
        left: 0px;
        bottom: 0px;
        z-index: 10;
      }

      .image {
        height: 380px;
        background-size: cover;
        position: relative;
        border-radius: 3px;

        &:hover {
          .overlay {
            opacity: 0.15;
          }
        }
      }

      .location {
        padding: 10px 0 30px 0;
        font-weight: 700;
        color: #ffffff;
        font-size: 22px;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 11;
        text-align: center;
        width: 100%;
      }

      .description {
        font-size: 18px;
        color: rgb(72, 72, 72);
        font-weight: 700;
      }

      .price {
        margin-top: 5px;
        font-size: 14px;
        color: rgb(72, 72, 72);
        font-weight: 400;
      }
    }
  }
}
