<div class="gift-card-container">
  <h2>Gift card</h2>
  <form [formGroup]="giftCardForm">
    <select name="" id="" formControlName="amount"
      ><option value="50">50$</option>
      <option value="100">100$</option>
      <option value="200">200$</option>
    </select>
    <button class="ut-btn" (click)="onClickSubmit()">Submit</button>
  </form>
  <div>
    <label for="">Enter your gift card number</label>
  </div>
  <input
    type="text"
    placeholder="Enter your giftcard number"
    [(ngModel)]="giftCardCode"
  />
  <button class="ut-btn" (click)="onClickCheckGiftCard()">Check</button>
  <div class="errors">
    {{ errors }}
  </div>

  <div>
    <h2>My gift cards</h2>
    <div *ngFor="let myGiftCard of myGiftCards | async">
      <div>Amount: {{ myGiftCard.amount }}$</div>
      <div>Code: {{ myGiftCard.code }}</div>
      <div>Created at: {{ myGiftCard.createdAt | date }}</div>
      <div>Expiration date: {{ myGiftCard.expireDate | date }}</div>
    </div>
  </div>
</div>
