.activity-details-container {
  max-width: 1400px;
  padding: 0 50px;
  margin: 10px auto 0 auto;

  .header {
    // padding: 20px 10%;
    background-color: #d0d0d0;
    height: 400px;
    background-image: url(/assets/slideshow/water1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    position: relative;

    &:after {
      content: '';
      height: 25%;
      opacity: 1;
      position: absolute;
      width: 100%;
      z-index: 1;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
      bottom: 0;
    }

    &:before {
      content: '';
      height: 25%;
      opacity: 1;
      position: absolute;
      width: 100%;
      z-index: 1;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
      top: 0;
    }
  }

  .title {
    font-weight: 700;
    font-size: 25px;
  }
  .price {
    font-weight: 700;
    font-size: 20px;
  }
  .buttons {
    margin: 20px 0;
    .btn {
      padding: 10px 20px;
      text-transform: uppercase;
      font-size: 13px;
    }
    .book-btn {
      background-color: grey;
    }
    .more-info-btn {
      border: 1px solid black;
    }
  }

  .related-container {
  }
}
