<div class="activity-details-container">
  <div class="trip-top-info">
    <div class="title">
      Indonesia landing on beach
    </div>
    <div class="price">Price: 240$</div>
  </div>

  <div class="header"></div>

  <div class="buttons">
    <a
      href=""
      [routerLink]="['/book']"
      routerLinkActive="router-link-active"
      class="btn book-btn"
      >Book trip</a
    ><a href="" class="btn more-info-btn">Request more info</a>
  </div>

  <div class="image-container">
    <div class="image"></div>
  </div>

  <app-book-trip [tripId]="tripId"></app-book-trip>

  <app-related-items></app-related-items>
</div>
