<div
  class="activity-details-container"
  *ngIf="tripDetails$ | async as tripDetails"
>
  <div class="trip-top-info">
    <div class="title">
      {{ tripDetails?.name }}
    </div>
    <div class="price">Price: 240$</div>
  </div>

  <div class="header"></div>

  <div class="buttons">
    <a
      href=""
      [routerLink]="['/book']"
      routerLinkActive="router-link-active"
      class="btn book-btn"
      >Book trip</a
    ><a href="" class="btn more-info-btn">Request more info</a>
  </div>

  <div class="trip-description">
    <div class="trip-description-title">
      What to expect
    </div>
    <p class="trip-description-text">
      {{ tripDetails?.description }}
      <!-- This trip has an activity rating of light/moderate; travelers should be in
      good health; comfortable climbing stairs and walking or standing for
      extended periods; and prepared for multiple hours of activity on some
      days. Daily activities may include city walking tours, visits to historic
      or cultural sites, game drives, or easy hikes, with options for more
      physical activities such as hiking, kayaking, snorkeling and biking. A
      signed medical form from your doctor will be required for participation in
      certain activities, such as visiting high-altitude areas. Alternative
      destinations or activities can be arranged if necessary. Any physical
      condition requiring special attention, diet, or treatment should be
      reported when booking so accommodations can be made. -->
    </p>
  </div>

  <div class="image-container">
    <div class="image"></div>
    {{ tripDetails?.image }}
  </div>

  <!-- <app-book-trip [tripId]="tripId"></app-book-trip> -->

  <app-related-items></app-related-items>
</div>
