<div class="header-container">
  <div class="left-part">
    <div class="logo" [routerLink]="['/']"></div>
    <nav>
      <ul>
        <li>
          <a [routerLink]="['admin']" [routerLinkActive]="['active-link']"
            >Dash</a
          >
        </li>
        <li>
          <a [routerLink]="['trips']" [routerLinkActive]="['active-link']"
            >Trips</a
          >
        </li>
        <li>
          <a [routerLink]="['users']" [routerLinkActive]="['active-link']"
            >Users</a
          >
        </li>
        <li>
          <a [routerLink]="['bookings']" [routerLinkActive]="['active-link']"
            >Bookings</a
          >
        </li>
        <li>
          <a
            [routerLink]="['.']"
            [routerLinkActive]="['active-link']"
            [routerLinkActiveOptions]="{ exact: true }"
            >Purchases</a
          >
        </li>
        <li>
          <a
            [routerLink]="['gift-cards']"
            [routerLinkActive]="['active-link']"
            [routerLinkActiveOptions]="{ exact: true }"
            >Gift cards</a
          >
        </li>
        <li>
          <a
            [routerLink]="['.']"
            [routerLinkActive]="['active-link']"
            [routerLinkActiveOptions]="{ exact: true }"
            >Analytics</a
          >
        </li>
      </ul>
    </nav>
  </div>

  <div class="buttons">
    <div class="get-started">
      <a [routerLink]="">Login</a>
    </div>
  </div>
</div>
