<div>
  <h2>
    What activities are you into?
  </h2>

  <div class="step-hint">
    Select at least 3 categories
  </div>

  <div class="activity-options">
    <app-multiple-choice
      (optionPicked)="onPickActivity($event)"
      [selectedOptions]="selectedActivities"
    >
      <app-choice-card
        *ngFor="let activityOption of activityOptions"
        [isActive]="selectedActivities.includes(activityOption.value)"
        [choiceData]="activityOption"
        >{{ activityOption.label }}</app-choice-card
      >
    </app-multiple-choice>
  </div>
</div>
