@import 'utilities/_variables';

:host {
  width: 400px;
}

.select-container {
  position: relative;
  width: 400px;

  .selected {
    position: relative;

    .arrow {
      position: absolute;
      right: 7px;
      top: 7px;
      color: $primary-dark;
      fill: currentColor;
    }
  }

  .options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 400px;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1;
  }

  .option {
    padding: 0 10px;
    background-color: white;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
  }

  .no-selected {
    border-top: 1px solid #e2e2e2;

    &:hover {
      background-color: lightgrey;
    }
  }
}
