:host {
  width: 200px;
}

.select-container {
  position: relative;
  width: 200px;

  .selected {
    position: relative;
  }

  .options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    max-height: 150px;
    overflow-y: auto;
  }

  .option {
    padding: 0 10px;
    background-color: white;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
  }

  .no-selected {
    border-top: 1px solid #e2e2e2;

    &:hover {
      background-color: lightgrey;
    }
  }
}
