@import 'utilities/_variables';
@import 'utilities/_mixins';
@import 'components/_shadow-box';

@font-face {
  font-family: ArbutusSlab;
  src: url('../assets/fonts/ArbutusSlab-Regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: AcariSans;
  src: url('../assets/fonts/AcariSans-Regular.ttf');
}
@font-face {
  font-family: AcariSans;
  src: url('../assets/fonts/AcariSans-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: AcariSans;
  src: url('../assets/fonts/AcariSans-SemiBold.ttf');
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

body {
  font-family: 'AcariSans', sans-serif;
  background: $background-color;
}

a {
  text-decoration: none;
  color: black;
}

textarea {
  font-family: 'AcariSans', sans-serif;
}

ul {
  list-style: none;
}

button {
  background: none;
  cursor: pointer;
  outline: none;
  border: none;
}

.ut-btn {
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 3px;
  margin: 15px 0;
}

.ut-text-input {
  border: 1px solid black;
  background: none;
  padding: 8px;
  margin: 10px 0;
  display: block;
}

.alert {
  display: inline-flex;
  border: none;
  color: #fff;
  border-radius: 3px;
  font-family: Avenir-Book, sans-serif;
  font-size: 18px;
  line-height: 24px;
  position: relative;
  padding: 8px 15px;
  margin: 20px 0;
  background-color: #ff5e5b;
  padding-left: 40px;

  &::before {
    content: '';
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 8px;
    top: 8px;
    background: url(../assets/svg/error-icon.svg);
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0 25px;

  @include tablet {
    width: 720px;
  }
}

.flex {
  flex: 1;
}

// @media (min-width: 1200px) {
//   .container {
//     width: 1260px;
//   }
// }
