<div class="footer-container">
  <div class="inner-container">
    <div class="columns">
      <div class="col">
        <div class="title">
          About us
        </div>

        <ul>
          <li>Our team</li>
          <li>Careers</li>
          <li>Blog</li>
          <li>Press</li>
        </ul>
      </div>
      <div class="col">
        <div class="title">
          Discover
        </div>

        <ul>
          <li>Travel stories</li>
          <li>Top destinations</li>
          <li>VIP experiences</li>
          <li>Gift cards</li>
          <li>Blog</li>
        </ul>
      </div>
      <div class="col">
        <div class="title">
          Help
        </div>

        <ul>
          <li>Order a brochure</li>
          <li>Contact us</li>
          <li>FAQ</li>
          <li>Cookie policy</li>
          <li>Copyright policy</li>
        </ul>
      </div>
      <div style="flex: 1"></div>
      <div class="col subscribe">
        <div class="title">Stay up to date</div>
        <div class="description">
          Subsribe to our newsletter today to receive updates on the latest
          news, releases and special offers. You can unsubscribe any time using
          the unsubscribe link at the end of all emails.
        </div>
        <div class="subscribe-input">
          <input type="text" placeholder="Enter your email" />
          <button class="ut-btn">Subscribe</button>
        </div>
      </div>
    </div>

    <hr class="separation" />
    <div class="footer-bottom">
      <div class="copyright">
        © 2019 Unique-trips agency.
      </div>
      <div class="links">
        <a href="">Terms</a>
        <a href="">Privacy</a>
        <a href="">Accessibility</a>
      </div>
      <div class="social">
        <a href="">
          <object
            class="icon"
            data="/assets/svg/facebook.svg"
            type="image/svg+xml"
          >
          </object>
        </a>
        <a href="">
          <object
            class="icon"
            data="/assets/svg/instagram.svg"
            type="image/svg+xml"
          >
          </object>
        </a>
        <a href="">
          <object
            class="icon"
            data="/assets/svg/twitter.svg"
            type="image/svg+xml"
          >
          </object>
        </a>
        <a href="">
          <object
            class="icon"
            data="/assets/svg/youtube.svg"
            type="image/svg+xml"
          >
          </object>
        </a>
      </div>
    </div>
  </div>
</div>
