<div class="footer-container">
  <div class="inner-container">
    <div class="columns">
      <div class="col">
        <div class="title">
          About us
        </div>

        <ul>
          <li>Our team</li>
          <li>Careers</li>
          <li>Blog</li>
          <li>Press</li>
        </ul>
      </div>
      <div class="col">
        <div class="title">
          About us
        </div>

        <ul>
          <li>Our team</li>
          <li>Careers</li>
          <li>Blog</li>
          <li>Press</li>
        </ul>
      </div>
      <div class="col">
        <div class="title">
          About us
        </div>

        <ul>
          <li>Our team</li>
          <li>Careers</li>
          <li>Blog</li>
          <li>Press</li>
        </ul>
      </div>
    </div>

    <hr class="separation" />
    <div class="footer-bottom">
      <div class="copyright">
        © 2019 Unique-trips agency.
      </div>
      <div class="links">
        <a href="">Terms</a>
        <a href="">Privacy</a>
        <a href="">Accessibility</a>
      </div>
      <div class="social">
        <a href="">
          <object
            class="icon"
            data="/assets/svg/facebook.svg"
            type="image/svg+xml"
          >
          </object>
        </a>
        <a href="">
          <object
            class="icon"
            data="/assets/svg/instagram.svg"
            type="image/svg+xml"
          >
          </object>
        </a>
        <a href="">
          <object
            class="icon"
            data="/assets/svg/twitter.svg"
            type="image/svg+xml"
          >
          </object>
        </a>
        <a href="">
          <object
            class="icon"
            data="/assets/svg/youtube.svg"
            type="image/svg+xml"
          >
          </object>
        </a>
      </div>
    </div>
  </div>
</div>
