<div class="container">
  <div class="my-slider">
    <div class="div-one carousel-item">
      <div class="background-overlay"></div>
      <div class="carousel-item-content">
        <div class="main-title">
          <p>
            Save 30+ hours.
            <br />
            We’ll tackle the
            <br />
            travel logistics.
          </p>
        </div>
        <div class="sub-title">
          <p>
            Hundreads of activities
            <br />
            to discover the world in a fun way
          </p>
        </div>
        <a class="btn get-started-btn">Get Started</a>
      </div>
    </div>

    <div class="div-two carousel-item">
      <div class="background-overlay"></div>
      <div class="carousel-item-content">
        <div class="main-title">
          <p>
            Discover unique trips
            <br />
            you will never forget
          </p>
        </div>
        <div class="sub-title">
          <p>
            Hundreads of activities
            <br />
            to discover the world in a fun way
          </p>
        </div>
        <a class="btn get-started-btn">Get Started</a>
      </div>
    </div>

    <div class="div-three carousel-item">
      <div class="background-overlay"></div>
      <div class="carousel-item-content">
        <div class="main-title">
          <p>
            Fall in love with local flavors.
            <br />
            Leave dietary
            <br />
            accommodations to us.
          </p>
        </div>
        <div class="sub-title">
          <p>
            Hundreads of activities
            <br />
            to discover the world in a fun way
          </p>
        </div>
        <a class="btn get-started-btn">Get Started</a>
      </div>
    </div>

    <div class="div-four carousel-item">
      <div class="background-overlay"></div>
      <div class="carousel-item-content">
        <div class="main-title">
          <p>
            Team up with a real
            <br />
            human trip designer
          </p>
        </div>
        <div class="sub-title">
          <p>
            Journy plans your perfect trip,
            <br />
            built from scratch just for you.
          </p>
        </div>
        <a class="btn get-started-btn">Get Started</a>
      </div>
    </div>
  </div>
</div>
