<div class="step-four">
  <h2>
    What is the purpose of your trip?
  </h2>
  <div class="destination-options">
    <app-choice-card
      *ngFor="let purposeOption of purposeOptions"
      (click)="onPickPurpose(purposeOption)"
      [isActive]="purpose.includes(purposeOption)"
      >{{ purposeOption }}</app-choice-card
    >
  </div>
  <div>Is it your first time in Indonesia</div>
  <div>
    <select name="" id="">
      <option value="">Yes</option>
      <option value="">No, I've been there once</option>
      <option value="">No, I'm a regular</option>
    </select>
  </div>
</div>
