<!-- {{ stepValidationObject | json }} -->

<h2>
  What is the purpose of your trip?
</h2>

<div class="step-four">
  <div class="purpose-options">
    <app-multiple-choice
      (optionPicked)="onPickPurpose($event)"
      [selectedOptions]="selectedPurposes"
    >
      <app-choice-card
        *ngFor="let purposeOption of purposeOptions"
        [isActive]="selectedPurposes.includes(purposeOption.value)"
        [choiceData]="purposeOption"
        >{{ purposeOption.label }}</app-choice-card
      >
    </app-multiple-choice>
  </div>

  <div class="step-hint">Is it your first time in Indonesia</div>
  <div>
    <div class="selector-container">
      <app-select-option
        (selectPicked)="onPickBeenInPast($event)"
        [selectedValue]="selectedBeenInPast"
        [options]="beenInPast"
        [placeholder]="'Pick an answer'"
      ></app-select-option>
    </div>
  </div>
</div>
