<!-- {{ stepValidationObject | json }} -->

<h2>
  What is the purpose of your trip?
</h2>

<div class="step-four">
  <div class="purpose-options">
    <app-multiple-choice
      (optionPicked)="onPickPurpose($event)"
      [selectedOptions]="selectedPurposes"
    >
      <app-choice-card
        *ngFor="let purposeOption of purposeOptions"
        [isActive]="selectedPurposes.includes(purposeOption.value)"
        [choiceData]="purposeOption"
        >{{ purposeOption.label }}</app-choice-card
      >
    </app-multiple-choice>
  </div>

  <div>Is it your first time in Indonesia</div>
  <div>
    <!-- <div class="selector-container">
      <app-select-option
        (selectPicked)="onNumberPeopleChange($event)"
        [selectedValue]="numberPeople"
        [options]="options"
        [placeholder]="'Total number of travelers'"
      ></app-select-option>
    </div> -->
    <select name="" id="">
      <option value="">Yes</option>
      <option value="">No, I've been there once</option>
      <option value="">No, I'm a regular</option>
    </select>
  </div>
</div>
